/* div{
height:100px;
width:100px;
background-color: green;  
border-radius: 50%;
} */
 /* *{
    padding:0;
    margin:0;
    color: whitesmoke
 }

#abc{
height:60px;
background-color: black;
 
}

 #logo{
    font-size: 50;
    color: orangered;
 }
 a{
    margin-right: 100px;
     
 }
  button{
    color: greenyellow;
    background-color: orangered;
     width: 10;
  }
  input{
   color:blue;
  } */
   /* div{
      background-color: rgba(137, 43, 226, 0.196);
      display:inline;
       
   }
   button{
      color:brown;
      background-color: aqua;
      border-color: blue;
      border-radius: 5px;
      display :block;
   } */
    /* // practice html */

     /* button{
      color:pink;
      border-width:5px;
      border-color: black;
      border-radius: 5px;
      background-color: rgba(255, 0, 170, 0.2);
        } 
        
     div{
       display:inline-block; 
      margin:25px;
      padding:25px;
     }
    #box1{
      background-color: rgba(0,0,255,0.2);
      height:100px;
      width:100px;
    }
    #box2{
      background-color: rgba(0,0,225,0.75)
      height:100px;
      width:100px;
    }
#box3{
   background-color:  rgba(0,0,255,1);
   height:100px;
   width:100px;
}
     */
     *{
      margin: 0;
      color: white;
     }
      #navbar{
         background-color: black;
         padding: 10px;
         display: flex;
         align-items: center;
         justify-content: space-between;
         ;
      }
       #logo{
         color: orangered;
         font-size: 20px;
         }
        a{
         text-decoration:none ;
       } 