* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}
.container {
    text-align: center;
    padding: 50px;
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    transition: transform 0.5s ease;
}
body.light-mode {
    background-color: #fff;
    color: #333;
}
body.dark-mode {
    background-color: #333;
    color: #fff;
}
button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #2980b9;
}
h1.animate {
    transform: scale(1.2);
}
